body {
  background: #3193a5;
}
.container {
  position: absolute;
  width: 100%;
  margin-top: 60px;
}
#datetime h1 {
  color: rgba(255,255,255,0.8);
  font-size: 10em;
  font-family: 'helvetica-neue-ultra-light';
}
#datetime h2 {
  color: rgba(0,0,0,0.4);
  font-size: 2.5em;
  font-family: 'helvetica-neue-ultra-light';
}
#forecast {
  margin-top: 60px;
}
#forecast ul li {
  text-align: center;
  font-size: 4.5em;
}
#forecast ul li h3 {
  color: rgba(255,255,255,0.8);
  font-size: 1.3em;
}
#forecast ul li h3 .degrees {
  font-size: 1em;
}
#forecast h4 {
  color: rgba(0,0,0,0.4);
  font-weight: 200;
  font-size: 0.3em;
}
#forecast ul li .today h3 {
  font-size: 1.7em;
}
#forecast h2 {
  color: rgba(0,0,0,0.4);
  font-size: 2.5em;
  font-family: 'helvetica-neue-ultra-light';
}
#actionbar {
  position: fixed;
  right: 1.0em;
  bottom: 0.5em;
  z-index: 100;
}

#actionbar a {
  color: rgba(0,0,0,0.4);
  font-size: 2.2em;
}
  #actionbar a:hover {
    color: rgba(250,250,250,0.8);
    text-decoration: none;
  }

.t-center {
  text-align: center;
}

.m-none {
  margin: 0 !important;
}
.m-small {
  margin-top: 10px !important;
}
.m-medium {
  margin-top: 20px !important;
}
.m-large {
  margin-top: 30px !important;
}
#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('../images/loader.gif');
  background-position: center 55%;
  background-repeat: no-repeat;
}

#autolist {
  position: absolute;
  z-index: 200;
  border: 1px solid #ddd;
  background: #fff;
}

#autolist li {
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
}

#autolist li .selected {
  background: #e9e9e9;
}

#autolist li:hover {
  background: #e9e9e9;
}

[data-icon] {
  color: rgba(0,0,0,0.4);
  font-size: 1.5em;
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'MeteoconsRegular';
}
#condition {
  color: rgba(0,0,0,0.4);
  font-size: 0.2em;
}

#settings {
  padding: 0 20px;
}

.alert {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.clockAnimate {
  -webkit-animation: fadeInDown 0.7s;
  -moz-animation: fadeInDown 0.7s;
  -ms-animation: fadeInDown 0.7s;
  animation: fadeInDown 0.7s;
}
.weatherAnimate {
  -webkit-animation: zoomIn 0.5s;
  -moz-animation: zoomIn 0.5s;
  -ms-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'helvetica-neue-ultra-light';
    src: url('../fonts/helvetica-neue-ultra-light.ttf') format('truetype');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.ttf') format('truetype');
}