<div id="datetime" class="t-center">
  <h1 class="m-none">{{ date | date:'hh mm ss' }}</h1>
  <h2 class="m-none">{{ date | date:'EEEE, dd MMMM yyyy'}}</h2>
</div>
<div ng-show="showLoader" id="loader"></div>
<div class="alert alert-danger" ng-show="errorMsg!=''">{{errorMsg}}</div>
<div ng-hide="showLoader || errorMsg!=''" id="forecast">
  <ul class="row list-unstyled">
    <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3">
      <div ng-class="{today: $index == 0}">
        <div data-icon="{{ day.icon | weatherIcon }}" class="{{ day.icon }}">
          <p id="condition">{{ day.conditions }}</p>
        </div>
        <h3>{{ day.high.celsius }}<span class="degrees">°</span></h3>
        <h4 ng-if="$index == 0">Now</h4>
        <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
      </div>
    </li>
  </ul>
  <h2 ng-show="user.location.name" class="t-center">{{user.location.name}}</h2>
</div>
