<div id="settings" class='container-fluid'>
	<h1>Settings</h1>
	<h2>Location</h2>
	<form ng-submit="save()">
    <input
    	type="text"
    	ng-model="asyncSelected.location.name"
    	placeholder="Locations loaded via $http"
    	typeahead="address for address in fetchCities.getLocationDetails($viewValue) | filter:$viewValue"
    	typeahead-loading="loadingLocations"
    	class="form-control"
    />
	<input class="btn btn-primary" type="submit" value="save" />
	</form>
</div>

<br/>
<button class="btn btn-danger" ng-click="resetStorage()">Clear storage</button>
